@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<PartyMaker3.Models.Evento>
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="/assets/fontawesome-free-6.4.0-web/css/all.css">

<header>
    <div class="txt-header">
        <h1>Aquele evento que você procurava ✌🏻</h1>
        <p>
            Conecte-se com pessoas que compartilham dos mesmos interesses que você,
            junte-se à nossa comunidade e descubra um mundo de experiências únicas, encontros inspiradores e diversão sem limites.
        </p>
        <button> Confira o app </button>
    </div>

    <div class="imagem-header">
        <img src="/img/cel-site.png" alt="">
    </div>

</header>



<!-- Modal recuperar senha -->
<div class="modalRecuperar" id="modal-recuperar">

    <form class="recuperarSenha">
        <span class="closeRecuperar" onclick="fecharRecuperar">&times;</span>
        <span id="titulo-recuperar">Recuperar senha</span>

        <input type="email" id="email" name="email" required placeholder="digite seu email">




        <button type="submit">Enviar</button>

    </form>
</div>

<!-- Fim do modal recuperar -->
<!-- Modal cadaste-se -->

<div class="modalCadastrar row" id="modal-cadastrar">



    <form asp-action="Cadastrar" asp-controller="Usuario" method="post" class="cadastrar">

        <span id="titulo-cadastrar">Cadastre-se</span>
        <span class="closeCadastrar">&times;</span>

        <div class="form">
            <div class="dados-pessoais form-group">
                <label for="nome">Nome completo:</label>
                <input  class="form-control" type="text" id="nome" name="nome" required>

                <label for="data_nascimento">Data de Nascimento:</label>
                <input class="form-control" type="date" id="data_nascimento" name="data_nascimento" required>
            </div>
            <div class="login-cadastrar form-group">
                <label for="email">Email:</label>
                <input class="form-control" type="email" id="email" name="email" required>

                <label for="senha">Senha:</label>
                <input class="form-control" type="password" id="senha" name="senha" required>

               
            </div>

        </div>
        <div class="form-group">
            <button type="submit" value="Create" class="btn btn-primary"> Cadastrar</button>
        </div>
    </form>
</div>

<!-- Fim do modal Modal cadaste-se -->

    <!-- Modal de login -->
        <div class="modalLogin row" id="modal-login">


            <form asp-action="Logar" asp-controller="Usuario" class="login">
                <span class="closeLogin" onclick="fecharLogin">&times;</span>
                <span id="titulo-login">Login</span>

                <input class="form-control" type="email" id="email" name="email" required placeholder="email">

                <input class="form-control" type="password" id="senha" name="senha" required placeholder="senha">

               

                <div class="form-group">
                    <button type="submit" value="Save" class="btn btn-primary">Entrar</button>
                </div>

            </form>
        </div>
        <!-- Fim modal login -->



    <main>


        <div class="filtros-pesquisar">

            <span class="btn-abrir-modal" id="filtros" onclick="abrirFiltros()"> <i class="fa-solid fa-list"></i>  FILTROS </span>

        



            <div class="modal">
                <div class="modal-content">

                    <span class="close" onclick="fecharFiltros()">&times;</span>

                


                    <div class="categorias">
                        <ul class="listas lista-1">
                        <li> <i class="fa-sharp fa-solid fa-music"></i><a href="@Url.Action("Index", "Home", new { categoria = "festas-shows" })">Festas e shows</a></li>
                        <li> <i class="fa-sharp fa-regular fa-futbol"></i> <a href="@Url.Action("Index", "Home", new { categoria = "esportes" })">Esportes</a></li>
                        <li> <i class="fa-regular fa-paste"></i> <a href="@Url.Action("Index", "Home", new { categoria = "cursos-workshops" })">Cursos / Workshops</a></li>
                        <li> <i class="fa-solid fa-child-reaching"></i> <a href="@Url.Action("Index", "Home", new { categoria = "infantil" })">Infantil</a></li>
                        </ul>
                        <ul class="listas lista-2">
                        <li> <i class="fa-solid fa-masks-theater"></i> <a href="@Url.Action("Index", "Home", new { categoria = "peças-standup" })">Peças/ Stand up</a></li>
                        <li> <i class="fa-solid fa-graduation-cap"></i> <a href="@Url.Action("Index", "Home", new { categoria = "congressos-palestra" })">Congressos/ Palestra</a></li>
                        <li> <i class="fa-solid fa-gamepad"></i> <a href="@Url.Action("Index", "Home", new { categoria = "games-geeks" })">Games / Geeks</a></li>
                        <li>  <i class="fa-solid fa-shirt"></i>  <a href="@Url.Action("Index", "Home", new { categoria = "moda-beleza" })">Moda/ Beleza</a></li>
                        </ul>
                    </div>
                </div>

            </div>







        </div>

          @if (Context.Session.GetString("categoria") == null)
            {
        <div class="destaques">

            <div class="titulo-destaques">
                <h3> Destaques da semana</h3>
            </div>

          
            <div class="slider">

                <div class="slides">
                    <!-- radio buttons -->
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">

                    <!-- imagens do slide -->
                    <div class="slide first">
                        <img src="/img/image 4.png" />
                    </div>
                    <div class="slide">
                        <img src="/img/imagem2.jpg" />
                    </div>
                    <div class="slide">
                        <img src="/img/luanzin_People_at_a_music_concert_looking_at_the_stage_617d7289-2764-488d-a78f-4f72303b8fa2 1 (1).jpg" />
                    </div>
                    <div class="slide">
                        <img src="/img/imagem1.jpg" />
                    </div>
                    

                    <!-- fim dos slides -->

                </div>
                

                <!-- navigation auto -->
                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                </div>


                <div class="manual-navigation">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                </div>


            </div>

        </div>
        }


        <div class="titulo-populares">

            @if (Context.Session.GetString("categoria") == null)
            {
        <span>Mais populares</span>
            }else{
        <span>@TempData["Categoriatop"]</span>
            }
        </div>

        <div class="mais-populares">

            
            <!-- cards mais populares -->
        <tbody>

            @foreach (var item in Model)
            {

                <!-- cards mais populares -->
                <div class="card">

                    <div class="card-img">
                        @if (item.Imagem != null && item.Imagem.Length > 0)
                        {
                            string base64Image = Convert.ToBase64String(item.Imagem);
                            string imageSrc = string.Format("data:image;base64,{0}", base64Image);
                            <a href="@Url.Action("paginaEvento", "Evento", new { id = item.Id_evento })"> <img src="@imageSrc" alt="Imagem do Evento" /> </a>
                        }
                    </div>

                    <h2>@Html.DisplayFor(modelItem => item.Data_evento)</h2>
                    <p>@Html.DisplayFor(modelItem => item.Nome)</p>
                    <span>@Html.DisplayFor(modelItem => item.Rua)</span>

                </div>
            }
        </tbody>

          

        </div>




    </main>




    <script src="/js/script.js"></script>
    <script src="~/js/modais.js"></script>

